body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  background: #6610f2;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  position: relative;
}

.bigcircle {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(-50%,-50%);
  width: 450px;
  height: 450px;
  background: transparent;
  border: 3px solid rgba(146, 226, 236, 0.8);
  border-radius: 50%;
  animation: animate 30s linear infinite;
}

.inner-circle{
  position: absolute;
  right:30%;
  width: 220px;
  height: 220px;
  background: rgb(159, 204, 159);
  border-radius: 50%;
  animation: animate 30s linear infinite;
}


span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  /* background: rgb(191, 223, 191); */
  transform-origin: left;
  animation: animate 30s linear infinite;
}

span:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(238, 107, 107);
  top: -6px;
  right: -27px;

}

.side-cirlce {
  width: 250px;
  height: 250px;
  border: 1px solid #c8eaef;
  border-radius: 100%;
  margin: -302px 0 0 -68px;
  transform: rotate(0deg);
  animation: animate 20s infinite linear ;
}

.fir_inner {
  width: 25px;
  height: 25px;
  border: 1px solid #c8eaef;
  border-radius: 100%;
  margin: 55px 0px 0px 2px ;
  background-color: #a4a1bd;
  transform: rotate(0deg);
}

.sec_inner {
  width: 20px;
  height: 20px;
  border: 1px solid #c8eaef;
  border-radius: 100%;
  margin: 62px 0px 0px -9px ;
  background-color: #3addca;
  transform: rotate(0deg);
}

.bi {
  display: block;
  position: absolute;
  width: 300px; 
  height: 300px;
  animation: spin 20s linear infinite;
} 

@keyframes animate {
   0%{
     transform: rotate(0deg);
   }
   100%{
     transform: rotate(360deg);;
   }
}

@keyframes spin {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);;
  }
}
/* 
@keyframes main {
  
  from {
    transform: rotate(-360deg);
    transition: transform 1s linear;
  }
  to {
    transform: rotate(360deg);
    transition: transform 1s linear;
  }
}
 */
